Jupyter notebook containing Python code that cleans Cot's contract data for Baseball Prospectus

In [3]:
# Import libraries 
from sqlalchemy import create_engine 
from dateutil.relativedelta import relativedelta
from datetime import datetime 
import sqlalchemy as sql 
import datetime
import pandas as pd 
import numpy as np
import itertools
import psycopg2 
import pymysql
import re 
import os

In [4]:
os.chdir('cots-etl')
from cots_etl_functions import CotsETL

In [5]:
cots = CotsETL()

In [6]:
df = cots.cotsExtract()

In [7]:
# Split transaction details 
transaction_details = df['cots_details'].str.split(";", expand=True)

# Merge details back into the main df using indices 
df_details = df.merge(transaction_details, left_index=True, right_index=True)

# Drop ml_srv, agent, cots_lengthval, and cots_details columns 
df_details.drop(['ml_srv', 'agent', 'cots_lengthval', 'cots_details'], axis=1, inplace=True)

# Re-index df_details and melt dataframe 
df_details['id'] = df_details.index
cols_list = df_details.columns.values
df_details_melt = pd.melt(df_details, 
                        value_vars=cols_list[1:-1], 
                        id_vars="bpid")

# Rename columns and drop missing data 
df_details_melt.rename(columns={"variable":"second_id", "value":"detail"}, inplace=True)
df_details_melt.dropna(axis="rows", inplace=True)
df_details_melt.sort_values(["bpid", "second_id"], inplace=True)

"""
This next section deals with cleaning and restructuring the data. 
First, three new columns are added: 
1. team_id: this column will search for the team within each player detail and insert it into a new column. 
    However, we have to keep an eye out in case there are multiple team_ids within a comment.
2. first_year: this will be the lowest year mentioned within detail.
3. transaction_type: this will help us classify each transaction (i.e. Draft, Trade, Signed, etc...)

Once these three items are created, we can move on to cleaning the details column to further populate the 
table similar to how it looks in euston.contracts
"""

# Acronyms dictionary; used to homogenize all team names within each contract detail. 
acronyms = {'Anaheim':'LAA', 'ANA':'LAA', 
        'Arizona':'ARI', 'ARZ':'ARI', 
        'Atlanta':'ATL', 
        'Baltimore':'BAL', 
        'Boston':'BOS', 
        'Chicago Cubs':'CHN', 'CHC':'CHN',
        'Chicago White Sox':'CHA', 'CHW':'CHA', 'CWS':'CHA', 
        'Cincinnati':'CIN', 
        'Cleveland':'CLE', 
        'Colorado':'COL', 
        'Detroit':'DET', 'DT':'DET', 
        'Florida':'MIA', 'FLA':'MIA', 
        'Houston':'HOU', 
        'Kansas City':'KCA', 'KC':'KCA', 
        'LA Angels':'LAA', 
        'LA Dodgers':'LAN', 'LAD':'LAN', 
        'Miami':'MIA', 
        'Milwaukee':'MIL', 
        'Minnesota':'MIN', 
        'Montreal':'MON', 
        'NY Mets':'NYN', 'NYM':'NYN', 
        'NY Yankees':'NYA', 'NYY':'NYA', 
        'Oakland':'OAK', 
        'Philadelphia':'PHI', 
        'Pittsburgh':'PIT', 
        'St. Louis':'SLN', 'STL':'SLN', 
        'San Diego':'SDN', 'SD':'SDN', 
        'SF':'SFN', 'San Francisco':'SFN', 
        'Seattle':'SEA', 
        'Tampa Bay':'TBA', 'TB':'TBA',
        'Texas':'TEX', 'TX':'TEX', 
        'Toronto':'TOR', 
        'Washington':'WAS', 
        # Other acronyms
        'DFA': 'Designated for assignment', 
        'MVP': 'Most Valuable Player', 
        'LDS': 'League Division Series', 
        'LCS': 'League Championship Series', 
        'WS': 'World Series', 
        'UNC': 'University of North Carolina', 
        'USC': 'University of South Carolina', 
        'LSU': 'Louisiana State University',
        'UNL': 'University Nebraska-Lincoln', 
        'PED': 'Performance-Enhancing Drug', 
        'MLS': 'Major League Soccer', 
        'MLB': 'Major League Baseball', 
        'NPB': 'Nippon Professional Baseball', 
        'KBO': 'Korean Baseball Organization', 
        'MRI': 'Magnetic Resonance Image', 
        'USA': 'United States of America', 
        'AND': 'and'}

# Replaces the team name in the detail column for homogenization. 
df_details_melt.loc[:, "detail"] = df_details_melt.detail.apply(lambda x: CotsETL().replace_dict(acronyms, x))

# Within details contracts, there are some subdetails that need to be further broken down.
sub_details = df_details_melt.detail.str.split(r"\.\s", expand=True)
sub_details_cols = sub_details.columns.values
df_details_melt2 = df_details_melt.merge(sub_details, left_index=True, right_index=True)
df_details_melt2['id2'] = df_details_melt2.index

# Melt new df once again to obtain all contract details in one column
df_details_melt3 = pd.melt(df_details_melt2, 
                    value_vars=sub_details_cols, 
                    id_vars=['bpid','second_id'])

# Reset the index and sort values. 
df_details_melt3.reset_index(inplace=True)
df_sort = df_details_melt3.sort_values(["bpid"]).sort_values(["second_id", "variable"], ascending=True)

# Drop missing data from value column
df_no_na = df_sort.dropna(subset=["value"])

### Seasonal contracts

Table should be: 

| contract_id | season | base_dollars_mlb | base_dollars_milb | bonus_dollars | bonus_payment_number | has_deferment | is_deferred_payment | deferred_dollars_withheld | deferred_dollars_paid | is_optional | dollars_actual |  
|:-----------:|:------:|:----------------:|:-----------------:|:-------------:|:--------------------:|:-------------:|:-------------------:|:-------------------------:|:-----------------------:|:-----------:|:--------------:|

In [8]:
# Creates new data frame with seasonal data 
df_seasons = df_no_na
df_seasons.dropna(subset=['value'], inplace=True)
df_seasons.head()

C:\Users\malon\.conda\envs\transactions\lib\site-packages\ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until

,index,bpid,second_id,variable,value
0,0,0,0,0,
1,1,100,0,0,1 year (2012)
14,14,100007,0,0,"3 year/$26M (2020-22), plus 2023 club option"
21,21,100009,0,0,1 year (2019)
27,27,100017,0,0,2019

In [9]:
# Obtains the value of the contract, the year it was paid, the date to validate year, and the action attached to the contract 
# (i.e. options, minor-league contract, arbitration)
df_seasons.loc[:, 'contract_value'] = df_seasons.loc[:, 'value'].astype(str).apply(lambda x: re.findall('(\$\d{1,}\.?\d{1,}M|\$\d{1,}M|\$\d{1,}\.?\d{1,}\smillion|\$\d{1,}\smillion|\$\d{1,}\S\d{3})', x))
df_seasons.loc[:, 'year'] = df_seasons.loc[:, 'value'].apply(lambda x: re.findall(r'[^.]?(\d{4}\b|\d{2}:)', x))
df_seasons.loc[:, 'date'] = df_seasons.loc[:, 'value'].astype(str).apply(lambda x: re.findall(r'(\d{1,}\/\d{1,}\/?\d{1,}\d?)', x))
df_seasons.loc[:, 'contract_type'] = df_seasons.loc[:, 'value'].astype(str).apply(lambda x: re.findall(r'([Mm]ajors|[Mm]inor-league|[Aa]rbitration|[Cc]all-up|[Oo]ption|[Pp]urchase|[Dd]efer|[Ss]igning bonus|[Pp]erformance bonus|[Rr]etired|[Dd]raft|[Aa]cquire|[Oo]pt-out|[Oo]pt out|[Tt]o pay|[Ss]igned)', x))

C:\Users\malon\AppData\Roaming\Python\Python36\site-packages\pandas\core\indexing.py:376: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self.obj[key] = _infer_fill_value(value)
C:\Users\malon\AppData\Roaming\Python\Python36\site-packages\pandas\core\indexing.py:494: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self.obj[item] = s

In [10]:
# Converts the returning list from re.findall into a string 
df_seasons.loc[:, 'contract_value'] = df_seasons.loc[:, 'contract_value'].astype(str).apply(lambda x: x[1:-1] if len(x) >= 1 else None)
df_seasons.loc[:, 'year'] = df_seasons.loc[:, 'year'].astype(str).apply(lambda x: x[1:-1] if len(x) >= 1 else None)
df_seasons.loc[:, 'date'] = df_seasons.loc[:, 'date'].apply(lambda x: x[0] if len(x) > 0 else None)
df_seasons.loc[:, 'contract_type'] = df_seasons.loc[:, 'contract_type'].apply(lambda x: x[0] if len(x) > 0 else 'majors')

In [11]:
# Drops first column to reset the index 
df_seasons = df_seasons.iloc[:, 1:]
df_seasons.reset_index(inplace=True)

In [12]:
df_seasons.head()

,index,bpid,second_id,variable,value,contract_value,year,date,contract_type
0,0,0,0,0,,,,None,majors
1,1,100,0,0,1 year (2012),,'2012',None,majors
2,14,100007,0,0,"3 year/$26M (2020-22), plus 2023 club option",'$26M',"'2020', '2023'",None,option
3,21,100009,0,0,1 year (2019),,'2019',None,majors
4,27,100017,0,0,2019,,'2019',None,majors

In [13]:
# Splits contract_value and years in case there are multiple entries within the extracted data
contract_values = df_seasons.contract_value.str.split(r',', expand=True)
years = df_seasons.year.str.split(r',', expand=True)

In [14]:
# Merges season data with contract_values
df_seasons2 = df_seasons.merge(contract_values, left_on=df_seasons.index, right_on=contract_values.index)
df_seasons2 = df_seasons2.iloc[:, 1:]

In [15]:
# Merges season data with year values
df_seasons3 = df_seasons2.merge(years, left_on=df_seasons2.index, right_on=years.index)
df_seasons3 = df_seasons3.iloc[:, 2:]

In [16]:
# Renames the value columns to reflect the details of the contract
df_seasons3.rename(columns={'value':'detail'}, inplace=True)

In [17]:
df_seasons3.head()

,bpid,second_id,variable,detail,contract_value,year,date,contract_type,0_x,1_x,...,2_y,3_y,4_y,5_y,6_y,7_y,8_y,9_y,10_y,11_y
0,0,0,0,,,,None,majors,,None,...,None,None,None,None,None,None,None,None,None,None
1,100,0,0,1 year (2012),,'2012',None,majors,,None,...,None,None,None,None,None,None,None,None,None,None
2,100007,0,0,"3 year/$26M (2020-22), plus 2023 club option",'$26M',"'2020', '2023'",None,option,'$26M',None,...,None,None,None,None,None,None,None,None,None,None
3,100009,0,0,1 year (2019),,'2019',None,majors,,None,...,None,None,None,None,None,None,None,None,None,None
4,100017,0,0,2019,,'2019',None,majors,,None,...,None,None,None,None,None,None,None,None,None,None

In [18]:
# Melts df_seasons3 to have separate rows for each contract value and each year. 
season_melt1 = pd.melt(df_seasons3, value_vars=['0_x', '1_x', '2_x', '3_x', '4_x', '5_x', '6_x', '7_x', '8_x', '9_x', '10_x'], 
                     id_vars=['bpid','second_id', 'detail', 'date', 'contract_type'])
season_melt2 = pd.melt(df_seasons3, value_vars=['0_y', '1_y', '2_y', '3_y', '4_y', '5_y', '6_y', '7_y', '8_y', '9_y', '10_y'], 
                     id_vars=['bpid','second_id', 'detail', 'date', 'contract_type'])

# Resets the index so it can be merged upon 
season_melt1.reset_index(inplace=True)
season_melt2.reset_index(inplace=True)

In [19]:
# Renames columns for easier identification
season_melt1.rename(columns={'index':'third_id', 'value':'contract_value'}, inplace=True)
season_melt2.rename(columns={'index':'third_id', 'value':'year'}, inplace=True)

In [20]:
# Drops columns that aren't necessary
season_melt1 = season_melt1[['bpid', 'second_id', 'third_id', 'detail', 'date', 'contract_type', 'contract_value']]
season_melt2 = season_melt2[['bpid', 'second_id', 'third_id', 'detail', 'date', 'contract_type', 'year']]

In [21]:
# Merges both contract value data frame and years data frame to have one single data frame with all the information
season_melt3 = season_melt1.merge(season_melt2, on=['bpid', 'second_id', 'third_id', 'detail', 'date', 'contract_type'])

In [22]:
# Replaces None with 0; extracts indices of rows with no data (all 0s); drops empty rows and resets index 
season_melt3.fillna(0, inplace=True)

to_drop = season_melt3[(season_melt3['date']==0) & (season_melt3['contract_type']==0) & (season_melt3['contract_value']==0) & (season_melt3['year']==0)]
season_melt4 = season_melt3.drop(to_drop.index)

season_melt4.reset_index(inplace=True)

In [23]:
season_melt5 = season_melt4.sort_values(['bpid', 'second_id', 'third_id', 'detail', 'contract_value', 'year', 'date'], ascending=False)
season_melt5 = season_melt5.drop_duplicates(['bpid', 'detail', 'contract_value', 'year'])
season_melt5.head(10)

,index,bpid,second_id,third_id,detail,date,contract_type,contract_value,year
953092,953092,99999,6,953092,$0.1M signing bonus.,0,signing bonus,0,0
951409,951409,99999,6,951409,Drafted by NYA 2012 (13-427) (SDN),0,Draft,0,0
75682,75682,99999,6,75682,$0.1M signing bonus.,0,signing bonus,'$0.1M',
73999,73999,99999,6,73999,Drafted by NYA 2012 (13-427) (SDN),0,Draft,,'2012'
947301,947301,99999,5,947301,Contract selected by NYA 9/1/15.,9/1/15,majors,0,0
945177,945177,99999,5,945177,1 year (2015),0,majors,0,0
69891,69891,99999,5,69891,Contract selected by NYA 9/1/15.,9/1/15,majors,,
67767,67767,99999,5,67767,1 year (2015),0,majors,,'2015'
940910,940910,99999,4,940910,Acquired by SEA in trade from NYA 11/18/16.,11/18/16,Acquire,0,0
939773,939773,99999,4,939773,Re-signed by NYA 3/16,3/16,signed,0,0

In [24]:
to_drop = season_melt5[(season_melt5['contract_value']==0) & (season_melt5['year']==0)]
season_melt6 = season_melt5.drop(to_drop.index)

In [25]:
season_melt6 = season_melt6[season_melt6['year']!=0]
season_melt6['date'] = season_melt6.date.astype(str)
season_melt6.reset_index(inplace=True)

In [26]:
season_melt6.loc[season_melt6[(season_melt6['bpid']=='67154') & (season_melt6['date']=='3/38/17')].index, 'date'] = '3/28/17'
season_melt6.loc[season_melt6[(season_melt6['bpid']=='107932') & (season_melt6['date']=='11/20/1')].index, 'date'] = '1/11/20'
season_melt6.loc[season_melt6[(season_melt6['bpid']=='47495') & (season_melt6['date']=='11/23')].index, 'date'] = '11/23/11'
season_melt6.loc[season_melt6[(season_melt6['bpid']=='33335') & (season_melt6['date']=='12/9/11')].index, 'date'] = '12/20/12'
season_melt6.loc[season_melt6[(season_melt6['bpid']=='40947') & (season_melt6['date']=='5/50')].index, 'date'] = '5/05'
season_melt6.loc[season_melt6[(season_melt6['bpid']=='1333') & (season_melt6['date']=='2/93')].index, 'date'] = '2/94'
season_melt6.loc[season_melt6[(season_melt6['bpid']=='1333') & (season_melt6['date']=='2/93')].index, 'date'] = '2/94'
season_melt6.loc[season_melt6[(season_melt6['bpid']=='37860') & (season_melt6['date']=='7/0/09')].index, 'date'] = '7/10/09'
season_melt6.loc[season_melt6[(season_melt6['bpid']=='1192') & (season_melt6['date']=='30/45')].index, 'date'] = '01/01/1900'
season_melt6.loc[season_melt6[(season_melt6['bpid']=='53004') & (season_melt6['date']=='147/186')].index, 'date'] = '01/01/1900'
season_melt6.loc[season_melt6[(season_melt6['bpid']=='66810') & (season_melt6['date']=='55/186')].index, 'date'] = '01/01/1900'

In [27]:
for i in range(len(season_melt6)):
    try: 
        if season_melt6.loc[i, 'date'] == '0':
            season_melt6.loc[i, 'date'] = '1900-01-01'
        else: 
            date = season_melt6.loc[i, 'date'].split('/')
            if len(date) > 2: 
                day = date[1][:2]
                month = date[0][:2]
                year = date[2][-2:]
                season_melt6.loc[i, 'date'] = year + '-' + month + '-' + day
                season_melt6.loc[i, 'date'] = datetime.datetime.strptime(season_melt6.loc[i, 'date'], '%y-%m-%d').strftime('%Y-%m-%d')
            else: 
                month = date[0][:2]
                year = date[1][-2:]
                season_melt6.loc[i, 'date'] = year + '-' + month
                season_melt6.loc[i, 'date'] = datetime.datetime.strptime(season_melt6.loc[i, 'date'], '%y-%m').strftime('%Y-%m-01')  
    except: 
        pass

In [28]:
season_melt6.loc[:, 'year'] = season_melt6.loc[:, 'year'].astype(str).apply(lambda x: re.sub(r"\W", "", x))

for i in range(len(season_melt6)): 
    try: 
        value = len(season_melt6.loc[i, 'year'])
        if value < 4: 
            year = season_melt6.loc[i, 'year']
            season_melt6.loc[i, 'year'] = datetime.datetime.strptime(year, '%y').strftime('%Y')
    except: 
        pass

In [29]:
t = season_melt6.sort_values(['date']).tail(50)
ids_to_drop = t.bpid.unique()
ids_to_drop = np.append(ids_to_drop, '79629')
ids_to_drop

array(['57557', '69564', '51927', '52296', '50845', '67139', '50058',
       '69131', '100137', '100748', '60664', '70881', '57708', '69508',
       '31694', '102005', '60759', '60448', '70461', '66638', '58643',
       '68759', '45578', '47591', '51434', '58905', '50167', '873',
       '31948', '1589', '1342', '65751', '45377', '79629'], dtype=object)

In [30]:
season_melt7 = season_melt6[~season_melt6['bpid'].isin(ids_to_drop)]

In [31]:
season_melt7.sort_values(['date'])

,level_0,index,bpid,second_id,third_id,detail,date,contract_type,contract_value,year
0,75682,75682,99999,6,75682,$0.1M signing bonus.,1900-01-01,signing bonus,'$0.1M',
53040,86700,86700,45858,11,86700,1 year/$0.39M (2008),1900-01-01,majors,'$0.39M',2008
53043,86107,86107,45858,10,86107,Re-signed as a free agent (minor-league contract),1900-01-01,signed,,
53044,85625,85625,45858,10,85625,1 year (2009),1900-01-01,majors,,2009
53046,83888,83888,45858,9,83888,1 year (2010),1900-01-01,majors,,2010
...,...,...,...,...,...,...,...,...,...,...
88678,6502,6502,104779,0,6502,Renewed by SLN 3/8/20.,2020-03-08,majors,,
90039,10174,10174,102876,0,10174,Claimed by SFN off waivers from SEA 3/10/20.,2020-03-10,majors,,
92476,10112,10112,101198,0,10112,Placed on suspended list by TEX 3/11/20 (sough...,2020-03-11,majors,,
46919,11039,11039,47804,0,11039,Released by WAS 3/14/20.,2020-03-14,majors,,
25431,11595,11595,58057,0,11595,Released by SDN 3/14/20.,2020-03-14,majors,,

In [32]:
season_melt7['date'] = pd.to_datetime(season_melt7.date)
season_melt7 = season_melt7.iloc[:, 1:]
season_melt7.reset_index(inplace=True)

C:\Users\malon\.conda\envs\transactions\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [33]:
for i in range(len(season_melt7)): 
    if season_melt7.loc[i, 'year']=='' and season_melt7.loc[i, 'date']!=pd.to_datetime('1900-01-01'): 
        season_melt7.loc[i, 'year'] = season_melt7.loc[i, 'date'].year
    elif season_melt7.loc[i, 'year']=='' and season_melt7.loc[i, 'date']==pd.to_datetime('1900-01-01'):
        season_melt7.loc[i, 'year'] = None
    else:
        season_melt7.loc[i, 'year'] = season_melt7.loc[i, 'year']

In [34]:
season_melt7['year'] = season_melt7.year.astype(float)
season_melt7 = season_melt7.sort_values(['bpid', 'second_id', 'third_id'])

In [35]:
season_melt8 = season_melt7[season_melt7['contract_type'].isin(['minor-league', 'majors', 'purchase', 'signing bonus', 'defer', 'option', 'opt-out', 'opt out'])]
season_melt8 = season_melt8.iloc[:, 1:]
season_melt8.reset_index(inplace=True)

In [36]:
for i in range(len(season_melt8)):  
    if season_melt8.loc[i, 'contract_type'] == 'minor-league': 
        season_melt8.loc[i, 'salary'] = 'base_dollars_milb'
    elif season_melt8.loc[i, 'contract_type'] == 'majors'or season_melt8.loc[i, 'contract_type'] == 'purchase':
        season_melt8.loc[i, 'salary'] = 'base_dollars_mlb' 
    elif season_melt8.loc[i, 'contract_type'] == 'signing bonus': 
        season_melt8.loc[i, 'salary'] = 'bonus_dollars'
    elif season_melt8.loc[i, 'contract_type'] == 'defer':
        season_melt8.loc[i, 'salary'] = 'deferred_dollars_paid'
    else: 
        season_melt8.loc[i, 'salary'] = 'base_dollars_mlb'

In [37]:
season_melt8.sort_values(['bpid', 'second_id', 'third_id'], inplace=True)
season_melt8.loc[season_melt8[(season_melt8['bpid']=='33503') & (season_melt8['date']=='2007-07-01') & (season_melt8['contract_type']=='majors')].index, 'year'] = 2007
season_melt8['year'] = season_melt8.year.ffill()

In [89]:
season_melt8[season_melt8['bpid']=='100007'].sort_values(['year'])

,level_0,index,bpid,second_id,third_id,detail,date,contract_type,contract_value,year,salary
51,93355,74001,100007,6,74001,$0.24M signing bonus ($0.2449M slot).,1900-01-01,signing bonus,'$0.24M',2015.0,bonus_dollars
49,93358,64735,100007,5,64735,1 year (2015),1900-01-01,majors,,2015.0,base_dollars_mlb
50,93357,67769,100007,5,67769,Contract selected by OAK 4/25/15.,2015-04-25,majors,,2015.0,base_dollars_mlb
48,93360,56091,100007,4,56091,1 year (2016),1900-01-01,majors,,2016.0,base_dollars_mlb
47,93362,52719,100007,3,52719,Sent outright to Triple-A 1/10/17,2017-01-10,majors,,2017.0,base_dollars_mlb
46,93363,49630,100007,3,49630,Designated for assignment by OAK 1/3/17,2017-01-03,majors,,2017.0,base_dollars_mlb
45,93364,45379,100007,3,45379,2017,1900-01-01,majors,,2017.0,base_dollars_mlb
44,93365,40632,100007,2,40632,Contract selected by LAN 4/17/18.,2018-04-17,majors,,2018.0,base_dollars_mlb
43,93367,32249,100007,2,32249,1 year (2018),1900-01-01,majors,,2018.0,base_dollars_mlb
42,93369,16220,100007,1,16220,"1 year/$575,000 (2019)",1900-01-01,majors,'$575,2019.0,base_dollars_mlb
39,93372,101427,100007,0,101427,2023 option increases based on finish in 2020-...,1900-01-01,option,'$500,2020.0,base_dollars_mlb
35,93376,12246,100007,0,12246,"20:$1M, 21:$7.5M, 22:$11.5M, 23: $13M club opt...",1900-01-01,option,'$1M',2020.0,base_dollars_mlb
34,93377,10060,100007,0,10060,"$4.5M signing bonus, paid within 30 days of Ma...",1900-01-01,signing bonus,'$4.5M',2020.0,bonus_dollars
33,93379,2,100007,0,2,"3 year/$26M (2020-22), plus 2023 club option",1900-01-01,option,'$26M',2020.0,base_dollars_mlb
38,93373,99987,100007,0,99987,"20:$1M, 21:$7.5M, 22:$11.5M, 23: $13M club opt...",1900-01-01,option,'$7.5M',2021.0,base_dollars_mlb
40,93371,187728,100007,0,187728,"20:$1M, 21:$7.5M, 22:$11.5M, 23: $13M club opt...",1900-01-01,option,'$11.5M',2022.0,base_dollars_mlb
37,93374,87743,100007,0,87743,"3 year/$26M (2020-22), plus 2023 club option",1900-01-01,option,0,2023.0,base_dollars_mlb
36,93375,13686,100007,0,13686,2023 option increases based on finish in 2020-...,1900-01-01,option,'$1M',2023.0,base_dollars_mlb
41,93370,275469,100007,0,275469,"20:$1M, 21:$7.5M, 22:$11.5M, 23: $13M club opt...",1900-01-01,option,'$13M',2023.0,base_dollars_mlb

In [39]:
season_melt9 = season_melt8[~season_melt8['contract_value'].isin([0])]

In [40]:
season_melt9.sort_values(['year', 'contract_value'], ascending=False, inplace=True)

C:\Users\malon\.conda\envs\transactions\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [41]:
season_melt9.iloc[:, :30]

,level_0,index,bpid,second_id,third_id,detail,date,contract_type,contract_value,year,salary
457,92707,37189,100313,2,37189,$0.75M signing bonus ($0.8185 slot).,1900-01-01,signing bonus,'$0.75M',8185.0,bonus_dollars
4822,85564,37657,107284,2,37657,$0.6975M signing bonus ($0.6769 slot).,1900-01-01,signing bonus,'$0.6975M',6769.0,bonus_dollars
53682,9221,69674,68790,5,69674,$0.55M signing bonus ($0.6026 slot).,1900-01-01,signing bonus,'$0.55M',6026.0,bonus_dollars
44874,23330,66938,58453,5,66938,1 year/$0.5005 (2013),1900-01-01,majors,'$0.500',5005.0,base_dollars_mlb
22322,58839,34265,43283,2,34265,1 year/$0.4095 (2009),1900-01-01,majors,'$0.409',4095.0,base_dollars_mlb
...,...,...,...,...,...,...,...,...,...,...,...
20630,61523,34124,397,2,34124,"P:$25K each 130,140,150160 innings pitched, $...",1900-01-01,majors,'$0.1M',160.0,base_dollars_mlb
24225,55874,77458,45458,7,77458,1 year/$0.393M (20008),1900-01-01,majors,'$0.393M',8.0,base_dollars_mlb
52166,11681,15482,67574,0,15482,"$500,0000 for each Gold Glove, Silver Slugger ...",1900-01-01,majors,'$500,0.0,base_dollars_mlb
52167,11680,15744,67574,0,15744,"$250,000 each for 550 plate appearances in a s...",1900-01-01,majors,'$250,0.0,base_dollars_mlb
0,93427,0,0,0,0,,1900-01-01,majors,,NaN,base_dollars_mlb

In [42]:
season_melt10 = season_melt9.drop_duplicates(['bpid', 'year', 'salary'])

In [43]:
season_melt10.dropna(inplace=True)

C:\Users\malon\.conda\envs\transactions\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [44]:
bpid_unique = season_melt10.bpid.unique()

season_df = pd.DataFrame(columns=['bpid', 'season', 'base_dollars_mlb', 'base_dollars_milb', 'bonus_dollars', 'bonus_payment_number', 
                                   'has_deferment', 'is_deferred_payment', 'deferred_dollars_withheld', 'deferred_dollars_paid', 
                                   'is_optional', 'dollars_actual'])

In [45]:
for i in bpid_unique:
    id_season = season_melt10[season_melt10['bpid']==i]
    pivot = id_season.pivot(index="year", columns="salary", values="contract_value")
    pivot.reset_index(inplace=True)
    pivot.rename(columns={'year':'season'}, inplace=True)
    pivot["bpid"] = i
    
    season_df = pd.concat([season_df, pivot], axis=0, sort=True)

In [46]:
season_df = season_df[['bpid', 'season', 'base_dollars_mlb', 'base_dollars_milb', 'bonus_dollars', 'bonus_payment_number', 
                       'has_deferment', 'is_deferred_payment', 'deferred_dollars_withheld', 'deferred_dollars_paid', 
                       'is_optional', 'dollars_actual']]

season_df.fillna(0, inplace=True)

In [47]:
season_df = season_df[season_df['bpid']!='51801']

In [48]:
season_df.reset_index(inplace=True)

In [49]:
season_df['base_dollars_mlb'] = season_df['base_dollars_mlb'].astype(str) 
for i in range(len(season_df)):
    start = season_df.loc[i, 'base_dollars_mlb']
    end = season_df.loc[i, 'base_dollars_mlb']
    if start.startswith("'$") == True and end.endswith("'") == False: 
        season_df.loc[i, 'base_dollars_mlb'] = season_df.loc[i, 'base_dollars_mlb'] + "k'"

In [50]:
season_df['bpid'] = season_df.bpid.astype(str)
season_df['season'] = season_df.season.astype(float)

In [51]:
season_df.head()

,index,bpid,season,base_dollars_mlb,base_dollars_milb,bonus_dollars,bonus_payment_number,has_deferment,is_deferred_payment,deferred_dollars_withheld,deferred_dollars_paid,is_optional,dollars_actual
0,0,100313,2015.0,,0,0,0,0,0,0,0,0,0
1,1,100313,2016.0,,0,0,0,0,0,0,0,0,0
2,2,100313,2017.0,,0,0,0,0,0,0,0,0,0
3,3,100313,8185.0,0,0,'$0.75M',0,0,0,0,0,0,0
4,0,107284,2018.0,,0,0,0,0,0,0,0,0,0

In [52]:
# Create PostgreSQL engine
engine = create_engine('postgresql+psycopg2://stager:after!ngest@172.104.15.153:5432/cage')

# Connect to engine 
conn = engine.connect()

In [54]:
# Obtain sample of ten players 
result = conn.execute("""
    select 
        bpid
        , contract_id
        , first_season
    from 
        euston.contracts
    """)

conn.close()

In [55]:
# Convert sample to data frame, use keys as column names
df = pd.DataFrame(result)
df.columns = result.keys()
df

        bpid  contract_id  first_season
0      99999            0          2020
1      99999            3          2019
2      99999            6          2018
3      99999            8          2017
4      99999           11          2016
...      ...          ...           ...
21220    100        71689          2006
21221    100        71691          2005
21222    100        71693          2004
21223    100        71695          2003
21224    100        71698          2002

[21225 rows x 3 columns]

In [56]:
df_slim = df[['bpid', 'first_season', 'contract_id']]
df_slim['bpid'] = df_slim.bpid.astype(str)
df_slim['first_season'] = df_slim.first_season.astype(float)

In [57]:
seasons_contracts = season_df.merge(df_slim, left_on=['bpid', 'season'], right_on=['bpid', 'first_season'], how='left')
seasons_contracts = seasons_contracts.ffill()

In [58]:
for i in range(len(seasons_contracts)):
    if seasons_contracts.loc[i, 'deferred_dollars_paid'] != 0: 
        seasons_contracts.loc[i, 'has_deferment'] = 1
        seasons_contracts.loc[i, 'is_deferred_payment'] = 1
    
    if seasons_contracts.loc[i, 'base_dollars_mlb'] == '' or seasons_contracts.loc[i, 'base_dollars_mlb'] == 0: 
        seasons_contracts.loc[i, 'base_dollars_mlb'] = '0'
        
    if seasons_contracts.loc[i, 'base_dollars_milb'] == '' or seasons_contracts.loc[i, 'base_dollars_milb'] == 0: 
        seasons_contracts.loc[i, 'base_dollars_milb'] = '0'
        
    if seasons_contracts.loc[i, 'bonus_dollars'] == '' or seasons_contracts.loc[i, 'bonus_dollars'] == 0: 
        seasons_contracts.loc[i, 'bonus_dollars'] = '0'
        
    if seasons_contracts.loc[i, 'deferred_dollars_paid'] == '' or seasons_contracts.loc[i, 'deferred_dollars_paid'] == 0: 
        seasons_contracts.loc[i, 'deferred_dollars_paid'] = '0'

In [59]:
seasons_contracts.loc[:, 'base_dollars_mlb'] = seasons_contracts.loc[:, 'base_dollars_mlb'].apply(lambda x: re.sub(r"'|\$", "", x)) 
seasons_contracts.loc[:, 'base_dollars_milb'] = seasons_contracts.loc[:, 'base_dollars_milb'].apply(lambda x: re.sub(r"'|\$", "", x)) 
seasons_contracts.loc[:, 'bonus_dollars'] = seasons_contracts.loc[:, 'bonus_dollars'].apply(lambda x: re.sub(r"'|\$", "", x)) 
seasons_contracts.loc[:, 'deferred_dollars_paid'] = seasons_contracts.loc[:, 'deferred_dollars_paid'].apply(lambda x: re.sub(r"'|\$", "", x))

In [60]:
for i in range(len(seasons_contracts)): 
    try: 
        s = re.findall(r'M|\smillion|k', seasons_contracts.loc[i, 'base_dollars_mlb'])[0]
        if s == 'M' or s == ' million': 
            seasons_contracts.loc[i, 'base_dollars_mlb'] = float(re.sub(r'M|\smillion|k', '', seasons_contracts.loc[i, 'base_dollars_mlb'])) * 1000000
        else: 
            seasons_contracts.loc[i, 'base_dollars_mlb'] = float(re.sub(r'M|\smillion|k', '', seasons_contracts.loc[i, 'base_dollars_mlb'])) * 1000
    except: 
        continue

In [61]:
for i in range(len(seasons_contracts)): 
    try: 
        s = re.findall(r'M|\smillion|k', seasons_contracts.loc[i, 'base_dollars_milb'])[0]
        if s == 'M' or s == ' million': 
            seasons_contracts.loc[i, 'base_dollars_milb'] = float(re.sub(r'M|\smillion|k', '', seasons_contracts.loc[i, 'base_dollars_milb'])) * 1000000
        else: 
            seasons_contracts.loc[i, 'base_dollars_milb'] = float(re.sub(r'M|\smillion|k', '', seasons_contracts.loc[i, 'base_dollars_milb'])) * 1000
    except: 
        continue

In [62]:
for i in range(len(seasons_contracts)): 
    try: 
        s = re.findall(r'M|\smillion|k', seasons_contracts.loc[i, 'bonus_dollars'])[0]
        if s == 'M' or s == ' million': 
            seasons_contracts.loc[i, 'bonus_dollars'] = float(re.sub(r'M|\smillion|k', '', seasons_contracts.loc[i, 'bonus_dollars'])) * 1000000
        else: 
            seasons_contracts.loc[i, 'bonus_dollars'] = float(re.sub(r'M|\smillion|k', '', seasons_contracts.loc[i, 'bonus_dollars'])) * 1000
    except: 
        continue

In [63]:
for i in range(len(seasons_contracts)): 
    try: 
        s = re.findall(r'M|\smillion|k', seasons_contracts.loc[i, 'deferred_dollars_paid'])[0]
        if s == 'M' or s == ' million': 
            seasons_contracts.loc[i, 'deferred_dollars_paid'] = float(re.sub(r'M|\smillion|k', '', seasons_contracts.loc[i, 'deferred_dollars_paid'])) * 1000000
        else: 
            seasons_contracts.loc[i, 'deferred_dollars_paid'] = float(re.sub(r'M|\smillion|k', '', seasons_contracts.loc[i, 'deferred_dollars_paid'])) * 1000
    except: 
        continue

In [64]:
seasons_contracts.loc[:, 'deferred_dollars_paid'] = seasons_contracts.loc[:, 'deferred_dollars_paid'].astype(float).astype(int)

In [65]:
seasons_contracts = seasons_contracts[['contract_id', 'season', 'base_dollars_mlb', 'base_dollars_milb', 'bonus_dollars', 'bonus_payment_number', 
                       'has_deferment', 'is_deferred_payment', 'deferred_dollars_withheld', 'deferred_dollars_paid', 
                       'is_optional', 'dollars_actual']]

seasons_contracts['has_deferment'] = seasons_contracts['has_deferment'].astype(bool)
seasons_contracts['is_deferred_payment'] = seasons_contracts['is_deferred_payment'].astype(bool)
seasons_contracts['is_optional'] = seasons_contracts['is_optional'].astype(bool)
seasons_contracts = seasons_contracts.dropna()

In [66]:
seasons_contracts2 = seasons_contracts.drop_duplicates(['contract_id', 'season'], keep='last')
seasons_contracts2[(seasons_contracts2['contract_id']==6746) & (seasons_contracts2['season']==2029)]

Empty DataFrame
Columns: [contract_id, season, base_dollars_mlb, base_dollars_milb, bonus_dollars, bonus_payment_number, has_deferment, is_deferred_payment, deferred_dollars_withheld, deferred_dollars_paid, is_optional, dollars_actual]
Index: []

In [67]:
seasons_contracts2.head()

,contract_id,season,base_dollars_mlb,base_dollars_milb,bonus_dollars,bonus_payment_number,has_deferment,is_deferred_payment,deferred_dollars_withheld,deferred_dollars_paid,is_optional,dollars_actual
1,71086.0,2016.0,0,0,0,0,False,False,0,0,False,0
2,71084.0,2017.0,0,0,0,0,False,False,0,0,False,0
3,71084.0,8185.0,0,0,750000,0,False,False,0,0,False,0
4,71084.0,2018.0,0,0,0,0,False,False,0,0,False,0
5,64964.0,2019.0,2.4e+07,0,0,0,False,False,0,0,False,0

In [80]:
seasons_contracts3 = seasons_contracts2.drop([2])
seasons_contracts3.sort_values('contract_id', ascending=False).head(20)

,contract_id,season,base_dollars_mlb,base_dollars_milb,bonus_dollars,bonus_payment_number,has_deferment,is_deferred_payment,deferred_dollars_withheld,deferred_dollars_paid,is_optional,dollars_actual
25139,71698.0,2002.0,3.9e+06,0,0,0,False,False,0,0,False,0
25140,71695.0,2003.0,9.9e+06,0,0,0,False,False,0,0,False,0
25141,71693.0,2004.0,1.1e+07,0,0,0,False,False,0,0,False,0
25142,71691.0,2005.0,7e+06,0,4e+06,0,False,False,0,0,False,0
25147,71689.0,2010.0,1.2e+07,0,0,0,False,False,0,0,False,0
25144,71689.0,2007.0,7.5e+06,0,0,0,False,False,0,0,False,0
25143,71689.0,2006.0,6e+06,0,0,0,False,False,0,0,False,0
25145,71689.0,2008.0,8.5e+06,0,0,0,False,False,0,0,False,0
25146,71689.0,2009.0,1.1e+07,0,0,0,False,False,0,0,False,0
25149,71686.0,2011.0,1.5e+06,0,1.5e+07,0,False,False,0,0,False,0
25148,71684.0,2011.0,1.5e+06,0,1.5e+07,0,False,False,0,0,False,0
25150,71681.0,2012.0,1e+06,0,0,0,False,False,0,0,False,0
769,71671.0,2016.0,0,0,0,0,False,False,0,0,False,0
771,71669.0,2018.0,0,0,0,0,False,False,0,0,False,0
770,71669.0,2017.0,0,0,0,0,False,False,0,0,False,0
772,71665.0,2019.0,575000,0,0,0,False,False,0,0,False,0
774,71663.0,2021.0,7.5e+06,0,0,0,False,False,0,0,False,0
778,71663.0,2013.0,0,0,1.242e+06,0,False,False,0,0,False,0
777,71663.0,1200.0,1.5e+06,0,0,0,False,False,0,0,False,0
776,71663.0,2023.0,1e+06,0,0,0,False,False,0,0,False,0

In [86]:
df_slim[df_slim['contract_id']==71663.0]

         bpid  first_season  contract_id
21213  100007        2020.0        71663

In [83]:
seasons_contracts3[seasons_contracts3['contract_id']==0]

,contract_id,season,base_dollars_mlb,base_dollars_milb,bonus_dollars,bonus_payment_number,has_deferment,is_deferred_payment,deferred_dollars_withheld,deferred_dollars_paid,is_optional,dollars_actual
4075,0.0,2020.0,575000,0,0,0,False,False,0,0,False,0
4076,0.0,2015.0,0,0,0,0,False,False,0,0,False,0

In [82]:
sc4 = seasons_contracts3.sort_values(['contract_id']).sort_values('season', ascending=False)
sc4.drop_duplicates(subset=['contract_id',], inplace=True)
sc4[sc4['contract_id']==71689.0]

,contract_id,season,base_dollars_mlb,base_dollars_milb,bonus_dollars,bonus_payment_number,has_deferment,is_deferred_payment,deferred_dollars_withheld,deferred_dollars_paid,is_optional,dollars_actual
25147,71689.0,2010.0,1.2e+07,0,0,0,False,False,0,0,False,0

In [139]:
sc5 = sc4[sc4['season']<2100]

In [85]:
df_trs[df_trs['contract_id']==71084]

,contract_id,bpid,signed_date,terminated_date,duration_years_max,duration_years_base,duration_years_actual,signing_org,first_season,last_update
21046,71084,100313,2017-03-01,None,0.0,1.0,0.0,MIN,2017.0,2020-06-18 12:46:03.010416

In [90]:
# Attempt to write data into postgresql 
# Create PostgreSQL engine
engine = create_engine('postgresql+psycopg2://stager:after!ngest@172.104.15.153:5432/cage')

# Connect to engine 
conn = engine.connect()

In [91]:
meta = sql.MetaData(conn, schema='euston')
meta.reflect()

In [92]:
pdsql = pd.io.sql.SQLDatabase(conn, meta=meta)

In [93]:
pdsql.to_sql(seasons_contracts3, 'contract_season', if_exists='append', index=False)

In [94]:
conn.close()

In [128]:
sc4[sc4['contract_id']==64964]

,contract_id,season,base_dollars_mlb,base_dollars_milb,bonus_dollars,bonus_payment_number,has_deferment,is_deferred_payment,deferred_dollars_withheld,deferred_dollars_paid,is_optional,dollars_actual
13,64964.0,6769.0,0,0,697500,0,False,False,0,0,False,0